body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:#4F545F;
}

h1{
    background-color: #e170f8;
    color: white;
    margin: 0;
    padding: 20px;
}

fieldset{
    border: 2px dashed #DDDDDD; /*dashed crea el borde con lineas*/
    margin: 20px;
    padding: 20px;
    /*
    border-width: 10px;
    border-style: dashed;
    border-color: #DDDDDD;
    */
}

legend{
    font-weight: bold;
}

.formElement{
    padding: 5px 10px;
    width: 300px;
    margin-bottom: 15px;
}

#information{
    border: 1px solid #0c38a7;
    padding: 20px 40px;
    display: block;
    background-color: #e997b5;
    margin-bottom: 15px;
    text-align: center;
}

.submissionButtons{
    padding: 10px 20px;
    background-color: #bd2d28;
    color: white;
    border-radius: 5px;
}

.submissionButtons:hover{
    cursor: pointer; /* esto hace que en vez de flecha aparezca un a mano arriba del los botones*/ 
}

/*.special{
    background-color: #56C56F;
}*/

.special:hover{
    background-color: #88e29d;
}

#cancelForm:hover{
    background-color: #df706c;
}